@typeparam TItem
<div class="col-12 row">
    <div>
        <table class="table table-bordered table-striped mb-0">
            <thead class="bg-info">
                <tr>
                    @GridColumns
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>
                        @GridRow(item)
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    [Parameter] public RenderFragment GridColumns { get; set; }
    [Parameter] public RenderFragment<TItem> GridRow { get; set; }
    [Parameter] public List<TItem> Items { get; set; }
    List<TItem> ItemList { get; set; }
    [Parameter] public bool ReloadList { get; set; }
    protected override void OnInitialized()
    {
        ItemList = Items;
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender && ReloadList)
        {
            ReloadList = false;
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}
