@page "/index"
@attribute [Authorize(Policy = "ActiveUser")]
<AuthorizeView>
    <Authorized>
        @*<p>Witaj, @context.User.Identity.Name</p>*@
        <InfoMainPage></InfoMainPage>
    </Authorized>
    <NotAuthorized>
        <p style="font-style:oblique;font-weight:bold">Zostałeś wylogowany!!</p>
    </NotAuthorized>
</AuthorizeView>



