@page "/index"

<AuthorizeView>
    <Authorized>
        <p>Witaj, @context.User.Identity.Name</p>
        <InfoMainPage></InfoMainPage>
    </Authorized>
    <NotAuthorized>
        <p>Zostałeś wylogowany!!</p>
    </NotAuthorized>
</AuthorizeView>



