<div style="width:350px;height:100px;">
    <p style="color:red; font-weight:bold">Brak rekordów spełniających zadane kryteria</p>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" href="/reportstochoose" style="width:200px">Wróć do poprzedniej storny</a>
    </nav>
</div>
<br />
@code {

}
