@page "/qualityreportmachinesfinal"
@inject IReportSerivce<QualityDetailReportAndMachineDTO> reportService

@if (IsSearchExecuted == true)
{
    <LoadingData DisplayMessage="true"></LoadingData>
}
else if (qualityreporMachinestdto.Count == 0)
{

    <NothingToDisplay></NothingToDisplay>
    <RadzenButton Click="executeSearching" Text="Wyszukaj"></RadzenButton>
}
else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="18"
                AllowSorting="true" Data="@qualityreporMachinestdto" TItem="QualityDetailReportAndMachineDTO" ColumnWidth="150px">
        <Columns>
            @*<RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="IdMachine" Title="Id.Urządzenia" />*@
            <RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="SN" Title="Nr.Seryjny" TextAlign="TextAlign.Center" />
            <RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="FaceValue" Title="Wrt. nominału" TextAlign="TextAlign.Center" />
            <RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="CountedCount" Title="Łączna ilość nominału" TextAlign="TextAlign.Center" FormatString="{0:###  ###  ###  ###}" />
            <RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="Count" Title="Ilość z kryterium" TextAlign="TextAlign.Center" FormatString="{0:###  ###  ###  ###}" />
            <RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="QualityValue" Title="Kryterium"TextAlign="TextAlign.Right" />
            <RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="Symbol" Title="Waluta" TextAlign="TextAlign.Right" />
            <RadzenGridColumn TItem="QualityDetailReportAndMachineDTO" Property="ModeValue" Title="Tryb" TextAlign="TextAlign.Right"/>
        </Columns>
    </RadzenGrid>
}
<br />
@if (qualityreporMachinestdto.Count != 0)
{
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" href="/reportstochoose">Wróć do poprzedniej storny</a>
    </nav>
}

@code {
    private bool IsSearchExecuted = false;
    List<QualityDetailReportAndMachineDTO> qualityreporMachinestdto { get; set; }



    protected override void OnInitialized()
    {

        qualityreporMachinestdto = new List<QualityDetailReportAndMachineDTO>();
        //qualityreporMachinestdto = await reportService.GetAllAsync("qualitydetailandmachine/get");
        StateHasChanged();
    }

    async void executeSearching()
    {
        IsSearchExecuted = true;
        await Task.Delay(2000);
        qualityreporMachinestdto = await reportService.GetAllAsync("qualitydetailandmachine/get");
        IsSearchExecuted = false;
        StateHasChanged();
    }
}
